<div fxLayout="row" fxLayoutAlign="center" class="login-main">
  <mat-card>
    <!-- <mat-card-title>Login Page</mat-card-title> -->
    <div class="classIcon">
      <mat-icon>class</mat-icon>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.form.value)">
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input type="text" matInput class="form-control" name="name" ngModel placeholder="Name" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput class="form-control" name="password" ngModel placeholder="password" required>
        </mat-form-field>
      </mat-card-content>
      <div align="center">
        <mat-card-actions>
          <button mat-raised-button type="submit">Sign in</button>
        </mat-card-actions>
        <p> Not Registered? <a routerLink="/register">Create an account!</a></p>
      </div>
    </form>
  </mat-card>
</div>
